<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="fisha_orderflow" id="fisha_orderflow">
			<module before="Magento_Backend" name="Fisha_OrderFlow"/>
		</route>
	</router>
</config>
