<!--@subject Refund Transaction Failed @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->


<!--@styles
@-->

{{template config_path="design/email/header_template"}}

<p style="font-weight: 600;"> Subject: Refund Transaction Failed.</p>

<p>מצורפת בזאת חשבונית זיכוי עבור הפריטים שבוטלו בהזמנה {{var order.getIncrementId()}}</p>


{{layout handle="sales_email_order_items" area="frontend" order_id=$orderId}}

{{var items_html}}

{{template config_path="design/email/footer_template"}}
